<!-- Approve move -->
{% extends 'core/common/modal_base.html' %}
{% load bootstrap3 %}
{% block id %}approvemoveModal{% endblock %}
{% block title %} Approve Move {% endblock %}
{% block body %}
  <form method="post" action="{% url 'moves:confirm' move_id=move.id state='move' %}">
       {% csrf_token %}
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-ok"></span> Approve move</h4>
      </div>
      <div class="modal-body">
        <p>Approving will take the Move record to the next phase. Are you sure you want to proceed?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button data-loading-text="Loading..." type="submit" id="approveMoveButton" class="btn btn-primary">Yes i'm sure</button>
      </div>
    </form>

{% endblock %}





