{% extends 'moves/pdf/base.html' %}
{% load ceil%}
{% load humanize%}
<!DOCTYPE html>

{% block body %}

			<h3>Re: QUOTATION</h3>

			Thank you for inviting Cube Movers Limited to quote for our services.
            Please refer to the to your request via {{move.customer.source.name}} on {{move.customer.created_time|date:"dS F Y"}} regarding moving of your household goods and personal effects from {{move.property_details.primary_area_name}} to {{move.property_destination_details.primary_area_name}}.
			The estimated volume of the goods is {{move.checklist.total_vol}} cbm and your proposed move date is {{move.move_date}}.</p>
			<p>We will be glad to give you a delightful move experience by offering the following:-</p>
			<ul> 
				<li>Provide all the necessary packing materials(carton boxes, corrugated paper, packing tapes, white paper, packing crates, shrink wrap etc)</li>
				<li>Provide a team of experienced movers including a qualified carpenter and an electrician.</li>
				<li>Pack, wrap and Label the items on a room-by-room basis.</li>
				<li>Provide transport in a covered/lockable moving truck.</li>
				<li>Offload at destination.</li>
				<li>Unpack and set up the items as per your instructions.</li>
				<li>Remove all debris at both sides and sweep the origin house.</li>
			</ul>

			<h4>Charges and Mode of Payment</h4>

            <strong>Total Charges:</strong> {{ move.move_type.currency }} {{move.checklist.quotation.charge_out_price|ceil|floatformat:"2"|intcomma}} VAT Inclusive

			<p>We shall require payment in full one day in advance of the move. Payment may be done via Mpesa (Paybill number 805800), Bankers Cheque or By Credit Card (Master and Visa)and Direct Bank Transfers. If not we require an approved LPO (LPOs are only for corporate not individual clients) prior to the move and payment upon completion of the job.</p>


			{% if move.quotedocument.quote_content %}
				{{move.quotedocument.quote_content|safe}}
			{% else %}
				<h4><b>Exclusions</b></h4>
				<ul>
					<li>Goods in transit insurance-This is not mandatory but you can organize with your insurers to cover the move. Alternatively, we could take the cover on your behalf and the cost is 1% of total value of the goods and passes on the charges to you.</li>
					<li>Hooks or steel nails for mounting pictures and wall hangings.</li>
					<li>Mopping of the new or old house.</li>
					<li>Wiring of instant shower.</li>
					<li>Plumbing works.</li>
					<li>Packing and moving of household goods or personal effects not surveyed or listed in the home movers details during quotation stage.</li>
				</ul>

			<h4>Bank Details</h4>
            <table class="table table-condensed">
					<tr><td>Company Name</td><td>Cube Movers Limited</td></tr>
					<tr><td>Acc Name</td><td>Cube Movers Ltd</td></tr>
					<tr><td>Bank Name</td><td>Co-operative Bank of Kenya</td></tr>
					<tr><td>Acc No</td><td>01136215289800</td></tr>
					<tr><td>Swift Code</td><td>KCOOKENA</td></tr>

			</table>
			<h4>Time Schedule</h4>

			<p>The job is scheduled to start at 8:00am and will take approximately one day.</p>

			<h4>Validity</h4>

			<p>This proposal is valid for 30 days.</p>
		</div>
	</div>
</div>
{%endif%}
<h4>Confirmation</h4>
<p>We need your confirmation at least 2 days in advance for us to be able to plan adequately for the job.</p>

<h4>Client’s Duties</h4>
<ul>
    <li>Be present to receive and guide the move crew on the move day at the agreed time or appoint a suitable representative.</li>
    <li>Minimize the refrigerated food stuffs and especially ensure there is no-ready-to eat food on the move day.</li>
    <li>Ensure the destination house is ready e.g no wet paint, the house has been cleaned/fumigated and there are no other on-going jobs at the house on the move day e.g. construction, plumbing, electrical, cleaning, etc. </li>
    <li>Pack your personal/sensitive items in the small boxes which will be provided.</li>
    <li>Please ensure that all personal documentation and valuables are locked away for the duration of the move as Cube Movers Limited will not be responsible for packing these items in error.</li>
    <li>If applicable notify the Estate Management, caretaker, landlord or security personnel that you will be moving to avoid any unnecessary delays due to lack of communication otherwise waiting charges will apply.</li>
</ul>

<h4>Kindly Note</h4>
<ul>
    <li>Presence of other workers/third parties may compromise the exercise and will reduce accountability.</li>
    <li>Cancellation fees of 20% will be charged if the move is cancelled on the same day as the planned move date.</li>
    <li>Overtime charges shall apply for delays caused by yourself such as new house not being ready, not getting clearance from the landlord amongst others.</li>
    <li>Our staff usually commences work at 0800 hrs, break for lunch between 1300-1400 hrs and break off for the day at 1800 hrs.</li>
</ul>

<h4>Damages and Complaints</h4>
<ul>
    <li>Should there be any case of damages due to negligence by Cube Movers Limited, you will be compensated subject to proof of evidence.</li>
    <li>Any damage or loss of items if it occurs must be reported within 7 days after delivery and unpacking.</li>
</ul>

<h4>Terms and Conditions</h4>

<p>All transactions are carried out in accordance with our standard terms and conditions, a copy of which is available upon request.<br>

    We thank you and assure you of our best services throughout the entire move.</p>

{% endblock %}

</body>

</html>
