{% if move.move_status.name == "pre-survey" or move.move_status.name == "survey" or move.move_status.name == "quotation" or move.move_status.name == "invoice" or move.move_status.name == "pre-move" or move.move_status.name == "move" or move.move_status.name == "post-move" or move.move_status.name == "complete" %}
      <div class="page-header">
        <a role="button" data-toggle="collapse" href="#survey-details" aria-expanded="false" aria-controls="survey-details">
          <span class="glyphicon glyphicon-eye-open"></span> Survey details <span class="caret"></span>
        </a>
      </div>
      <div  class="collapse" id="survey-details">
        <div class="col-xs-5">
          <p>Surveyor name:</p>
          <p>Survey time:</p>
          <p>Assigned vehicle:</p>
        </div>
        <div class="col-xs-7">
          {% if not move.survey.surveyor  %}
          <p>N/A</p>
          {% else %}
          <p>{{ move.survey.surveyor.first_name }} {{ move.survey.surveyor.last_name }}</p>
          {% endif %}
          <p>{{ move.survey.survey_time }}</p>
          {% if not move.survey.vehicle %}
          <p>N/A</p>
          {% else %}
          <p>{{ move.survey.vehicle.registration }}, {{ move.survey.vehicle.make }} {{ move.vehicle.model }}</p>
          {% endif %}
        </div>
        <div class="col-xs-12">
          <a class="btn btn-default" href="#" role="button" data-toggle="modal" data-target="#surveydetailsModal"><span class="glyphicon glyphicon-edit"></span> Edit survey details</a>
          <a class="btn btn-default" href="#" role="button" data-toggle="modal" data-target="#confirmsurveyModal"><span class="glyphicon glyphicon-edit"></span> Send survey details</a>
          {% if checklist  %}
          <a class="btn btn-default" href="{% url 'surveys:checklist' pk=checklist.id %}"><span class=" glyphicon glyphicon-th-list"></span> Survey Form/Checklist</a>
          {% endif %}<br><br>
        </div>
      </div>
{% endif %}


<!-- survey modal -->
{% include 'surveys/edit-modal.html' %}

<!-- confirm survey modal -->
{% include 'surveys/confirm-modal.html' %}
