{% extends 'core/common/email_actions.html' %}
{% load staticfiles %}
{% block action_message %}

<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="panel-title"><span class="glyphicon glyphicon-ok"></span><strong> Confirmation</strong></h3>
	</div>
	<div class="panel-body">
		<p>Thank you for choosing Cube Movers! Your move is booked for {{move.move_date}}. Please remember we shall require payment in full one day in advance of the move. Payment may be done via Mpesa (Paybill number 805800), Bankers Cheque or By Credit Card (Master and Visa). If not we require an approved LPO prior to the move and payment upon completion of the job. Kindly make arrangements in order for us to confirm your move. Looking forward to offering you a pleasant move experience.</p>
	</div>
</div>

{% endblock %}

